<div class="block-flat" style="border: 0 red solid;box-shadow:0 0">
    <div class="header">
        <h3>ptInsert</h3>
    </div>
    <div class="content">
        <h4 style="margin-top: 0;font-size: 20px;color:grey;">Note:</h4>

        <p>ptInsert is a directive that you can use this to insert record to database simply...new object must named 'newData'</p>
        <br>
        <h4 style="margin-top: 0;font-size: 20px;color:grey;">Arguments:</h4>
        <section class="api-section">
            <table class="variables-matrix input-arguments">
                <thead>
                <tr style="background-color: lightgrey;font-weight: bold">
                    <th>Param</th>
                    <th>Type</th>
                    <th>Details</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td>
                        data
                    </td>
                    <td>
                        object <span style="color: red">[Required]</span>
                    </td>
                    <td>
                        <p>the record which insert into database </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        service
                    </td>
                    <td>

                        String <span style="color: red">[Required]</span>
                    </td>
                    <td>
                        <p>the operate service</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        flag
                    </td>
                    <td>
                        1 or 0 <span style="color: deepskyblue">[Optional]</span>
                    </td>
                    <td>
                        <p>If you set this param to 0,you will use the standard way to send http request,or to 1 that you will use post method to do every operation,default :0</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        redirect
                    </td>
                    <td>
                        object <span style="color: deepskyblue">[Optional]</span>
                    </td>
                    <td>
                        <p>redirect url and param</p>
                    </td>
                </tr>

                </tbody>
            </table>
        </section>
        <br>
        <h4 style="margin-top: 0;font-size: 20px;color:grey;">Usage:</h4>

        <P style="font-size: 16px;">Controller:</P>
        <pre class="ng-scope"><code class="lang-html">var testController = angular.module('testController',[])
                testController.controller('insertController',function($scope){
                $scope.insertData = {
                'id':'1',
                'name': 'insert'
                }
                $scope.insertRedirect={
                'url':'#',
                'param':'1'
                }
                })

        </code></pre>
        <P style="font-size: 16px;">Service:</P>
        <pre class="ng-scope"><code class="lang-html">testService.factory('insertService',function($resource){
                return $resource("#");
                })
        </code></pre>
        <P style="font-size: 16px;">Html:</P>
        <pre class="ng-scope"><code class="lang-html">&lt;div ng-controller="insertController">
            &lt;button pt-insert data="insertData" service="insertService" flag="0" redirect="insertRedirect">add
            &lt;/button>
            &lt;/div>
        </code></pre>
    </div>
</div>