<div class="cl-mcont aside">
    <div class="page-aside">
        <div>
            <div class="content">
                <h2>Directive</h2>
                <p style="color: darkgray;cursor:pointer;"><a sref=".detail" href="#/dashboard/api/ptInsert">ptInsert</a></p>
                <p style="color: darkgray;cursor:pointer;"><a sref=".detail" href="#/dashboard/api/ptDelete">ptDelete</a></p>
                <p style="color: darkgray;cursor:pointer;"><a sref=".detail" href="#/dashboard/api/ptUpdate">ptUpdate</a></p>
            </div>

        </div>
    </div>

    <div class="content" style="background-color: white">
        <h3>
            <div ui-view></div>
        </h3>
    </div>
</div>